body{      
    min-height: 100vh;
    display: grid;
    font-family: "Google Sans", sans-serif;
}

/*Encabezado*/
header{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
}

/*Barra de navegación*/
nav,
nav a{
    display: flex;
    gap: 2rem;
    text-decoration: none;  
    color: black;  
}
nav a:hover{
    text-shadow: 0px 0px 10px rgb(74, 206, 33);
    transform: translateY(-5px);  
}

/*Botones*/
.login-nav{    
    color: #4CAF4F;
    padding-right: 5rem;
    gap: 2rem;    
}

#Sign-up{
    margin-top: 1rem;
    background-color: #4CAF4F;
    padding: 10px;
    border-radius: 5px;  
    color: white; 
    border-style: none; 
    
}    

/*Layout Principal*/
.layout{
    display: grid;
    gap: 4rem;
    padding: 3rem;
}

/********************* Section 1 ****************************/
.section1{   
    display: grid;
    text-align: center;   
}

.section-1A{
    display: grid;    
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #F5F7FA;
 }

.section-1A h1{
    font-size: 40px;
}


.botones{    
    margin-top: 1rem;
    background-color: #4CAF4F;
    padding: 10px;
    border-radius: 5px;  
    color: white; 
    border-style: none; 
}

/*Section 1B*/
.section-1B{
    margin-top: 2rem;
    margin: 2rem;    
}


/*Section 1C*/
.Member-National-Club{
    display: flex;
    margin: 2rem;   
    flex-wrap: wrap; 
}
.Members,
.National,
.Club{
    max-width: 400px;
    margin: 2rem auto;    
    color: rgb(14, 10, 10);
    padding: 5px;   
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(116, 131, 95);
}

/****************** Section 2 *************************/
.section-2A{
    display: grid;    
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.section-2B{
    display: flex;   
    background-color: #F5F7FA; 
    gap: 2rem;
    justify-content: space-evenly;  
    flex-wrap: wrap;     
}
#icons-section-2B{
    display: flex;
    gap: 2rem; 
        
    justify-content: center;  
}
.article-section-2B-1{  
    text-align: center;
}

/****************************** Sesión 3 ***********************/
.section-3A{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.section-3B{
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: #F5F7FA;
}

/********************* Sesión 4 **************************/
.section4{
    text-align: center;    
}
.section4 div{
    display: flex;
    text-align: center; 
    justify-content: center;
    padding: 10px;
}
.section-4B{
    padding: 5rem;
    background-color: #F5F7FA;
}

/************************** Footer *************************/

footer{
    background-color: #263238;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;    
    color: white;
    padding: 2.5rem;
}

ul{
    list-style: none;
}

/************* RESPONSIVE *******************/

@media (max-width: 768px){
    .section-1A{
        flex-direction: column;
        text-align: center; 
        display: flex;               
             
    }
    .img{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .section-1B img {
        max-width: 600px;
    }

    .section-2A, .section-3A, .section-3B, .section-4A{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
    }

    
.section-2B {
    flex-direction: column;
    align-items: center;
}
}
